<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	<link rel="stylesheet" href = "stylesheets/style.css"/>
	<link rel='stylesheet' href ="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  </head>
  <body>
	<%- include('navigation') -%>
	<div class="container">
		<h1><%= title %></h1>
		<p>Welcome to <%= title %></p>
		<div id="intro">
		My name is Birhan Tesfaye
		</div>
		<div id="background">
		I am born in Abomsa, Oromia region, Ethiopia
		</div>
		<div id="skills">
		<table class="table">
			<thead>
				<th>skill name</th>
				<th>skill name</th>
				<th>skill name</th>
				<th>skill name</th>
			</thead>
			<tbody>
				<tr>
					<td>Hello</td>
					<td>Hello</td>
					<td>Hello</td>
					<td>Hello</td>
				</tr>
				<tr>
					<td>Hello</td>
					<td>Hello</td>
					<td>Hello</td>
					<td>Hello</td>
				</tr>
				<tr>
					<td>Hello</td>
					<td>Hello</td>
					<td>Hello</td>
					<td>Hello</td>
				</tr>
				<tr>
					<td>Hello</td>
					<td>Hello</td>
					<td>Hello</td>
					<td>Hello</td>
				</tr>
				<tr>
					<td>Hello</td>
					<td>Hello</td>
					<td>Hello</td>
					<td>Hello</td>
				</tr>
				<tr>
					<td>Hello</td>
					<td>Hello</td>
					<td>Hello</td>
					<td>Hello</td>
				</tr>
				<tr>
					<td>Hello</td>
					<td>Hello</td>
					<td>Hello</td>
					<td>Hello</td>
				</tr>
				<tr>
					<td>Hello</td>
					<td>Hello</td>
					<td>Hello</td>
					<td>Hello</td>
				</tr>
				<tr>
					<td>Hello</td>
					<td>Hello</td>
					<td>Hello</td>
					<td>Hello</td>
				</tr>
				<tr>
					<td>Hello</td>
					<td>Hello</td>
					<td>Hello</td>
					<td>Hello</td>
				</tr>
			</tbody>
		</table>
		</div>
		<div id="resume">
		<a href="somesite.com">Downloadable resume</a>
		</div>
		<div id="current_projects">
		<table class="table">
			<thead>
				<th>skill name</th>
				<th>skill name</th>
				<th>skill name</th>
				<th>skill name</th>
			</thead>
			<tbody>
				<tr>
					<td>Hello</td>
					<td>Hello</td>
					<td>Hello</td>
					<td>Hello</td>
				</tr>
				<tr>
					<td>Hello</td>
					<td>Hello</td>
					<td>Hello</td>
					<td>Hello</td>
				</tr>
				<tr>
					<td>Hello</td>
					<td>Hello</td>
					<td>Hello</td>
					<td>Hello</td>
				</tr>
				<tr>
					<td>Hello</td>
					<td>Hello</td>
					<td>Hello</td>
					<td>Hello</td>
				</tr>
				<tr>
					<td>Hello</td>
					<td>Hello</td>
					<td>Hello</td>
					<td>Hello</td>
				</tr>
				<tr>
					<td>Hello</td>
					<td>Hello</td>
					<td>Hello</td>
					<td>Hello</td>
				</tr>
				<tr>
					<td>Hello</td>
					<td>Hello</td>
					<td>Hello</td>
					<td>Hello</td>
				</tr>
				<tr>
					<td>Hello</td>
					<td>Hello</td>
					<td>Hello</td>
					<td>Hello</td>
				</tr>
				<tr>
					<td>Hello</td>
					<td>Hello</td>
					<td>Hello</td>
					<td>Hello</td>
				</tr>
				<tr>
					<td>Hello</td>
					<td>Hello</td>
					<td>Hello</td>
					<td>Hello</td>
				</tr>
			</tbody>
		</table>
		
		</div>
	</div>
  </body>
  <%- include('footer') -%>
</html>
